doctype html
html(lang="en")
    head
        title Exam Traffic

        link(rel="stylesheet", href="/css/invigilou.css")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")

        script(src="/js/lib/d3/d3.min.js")
        link(rel="stylesheet", href="/js/lib/cal-heatmap/cal-heatmap.css")
        script(src="/js/lib/cal-heatmap/cal-heatmap.min.js")
        script(src="/js/lib/moment/moment.js")
        script(src="/js/lib/event-drops/src/eventDrops.js")

        link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css")
        script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
        script(src="/js/lib/leaflet-heat.js")
    body
        h1 Exam Traffic

        #cal-heatmap

        #times


        script.
            /*
            var cal = new CalHeatMap();
            cal.init({
                data: "/api/calendar",
                domain: "day",
                start: new Date(2015, 3, 14),
                range: 16,
                itemName: "exam",
                afterLoadData: function(data) {
                    return Object.getOwnPropertyNames(data).reduce(
                        function(acc, current) {
                            // timezones be fucky, see https://github.com/kamisama/cal-heatmap/issues/122
                            acc[+current + (new Date(current*1000)).getTimezoneOffset()*60] = data[current];
                            return acc;
                        }, {});
                    }
            });
            */

        #map


        //h2 It's #{time} on #{date}.
        script
            (window.exams = window.exams || {})._exams = !{exams};
        //-
            div= exams
            if exams.length > 0
                p The next exams are 
                    span#nextexams at #{exams[0].datetime}.
                each exam in exams
                    p #{exam.coursecode} in #{exam.building} (#{exam.shortcode}) at #{exam.datetime}
            else
                p No upcoming exams!!

        script(src="/js/exams.js")
